
<%if !@challenge.nil?%>
    <h2><%= @challenge.title%></h2> 
    <p><%= @challenge.description%></p>
    <p><%=@challenge.difficulty%></p>
    <p><%= @challenge.distance%></p>
<%else%>
  <p>That challenge id does not exist</p>
<%end%>


