<section>
  <%= render partial: 'partials/flashes' %>

  <% @challenges.each do |challenge|%>
    <div class="challenge-card">
    <% if challenge.icon.attached?%>
      <%= image_tag(challenge.icon, class: "challenge-icon")%>
    <%end%>
      <%= button_to challenge.title, "/challenge/#{challenge.id}", method: :get %>
     </div> 
  <%end%>

</section>