<main class="challenge-container">
  <h1 class="profile-page-title">Your badges</h1>
  <div class="challenges-container">
    <% @completed_challenges.each do |challenge| %>
        <div class="challenge-card">
          <%= image_tag(challenge.badge, class: "profile-page-badge")%>
          <h3><%= challenge.title %></h3>
        </div>
    <% end%>
  </div>
  
</main>