<h1>You have completed:</h1>
  <div class="challenge-heading">
    <% if @challenge.badge.attached?%>
      <%= image_tag(@challenge.badge, class: "challenge-icon")%>
    <%end%>
    <h2 class="challenge-title"><%= @challenge.title%></h2> 
  </div>
<%= button_to "View your badges", '/homepage', method: :get %>
