<main class="challenge-container">
  <h1 class="completed-challenge-page-title">You have completed:</h1>
  <div class=completed-challenge-details>
    <div class="completed-challenge-heading">
    <div>
      <% if @challenge.icon.attached?%>
        <%= image_tag(@challenge.icon, class: "challenge-icon")%>
      <%end%>
    </div>
      <h2 class="challenge-title"><%= @challenge.title%></h2>
    </div>
    <div class="completed-challenge-heading">
    <div>
      <% if @challenge.badge.attached?%>
        <%= image_tag(@challenge.badge, class: "challenge-icon")%>
      <%end%>
    </div>
      <h2 class="challenge-title">Badge earned</h2>
    </div>
    <div class="view-badges-container">
      <%= button_to "View your badges", '/profile', method: :get, class: "view-badges-button" %>
    </div>
  </div>
</main>
