<section class="landing-page">
  <div id="sign-in-button">
    <%= link_to "Sign in", '/sign-in', method: :get%>
  </div>
  <div id="sign-up-button">
  <%= link_to "Sign up", '/sign-up', method: :get%>
  </div>
</section>
<%= render partial: 'partials/flashes' %>

