<div class="header">
  <h1 class="header-text">You're only a few steps away from your next Sprint challenge!</h1>
</div>

<div class="landing-page-container">
  <div class="auth-contianer">
    <div class="landing-page-buttons">
      <%= render partial: 'partials/flashes' %>
      <%= button_to "Sign in", '/sign-in', method: :get, class:"sign-in-button" %>
      <%= button_to "Sign up", '/sign-up', method: :get, class:"sign-up-button"%>
    </div>
  </div>
</div>

<div class="landing-footer">
  <p>© Copyright 2021 Sprint Limited. All rights reserved.</p>
</div>


