<section class="landing-page">
  <div class="landing-page-buttons">
    <%= button_to "Sign in", '/sign-in', method: :get, class:"sign-in-button" %>
    <%= button_to "Sign up", '/sign-up', method: :get, class:"sign-up-button"%>
  </div>
</section>
<%= render partial: 'partials/flashes' %>

