/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar {
  border-left: none;
  border-right: none;
  position: fixed;
  background-color: #3C3241;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: 5em;
  display: flex;
  overflow: hidden;
  align-items: center;
  z-index: 20;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.sign-out-link {

  text-decoration: none;
  font-size: 1.4em;
  color: #72EF36;
}

#current_user {
  font-size: 1.4em;
  color: #e75462;
}

.avatar {
  border-style: solid;
  border-color: #e75462;
  border-radius: 50%;
  object-fit: cover;
  height: 2.5em;
  width: 2.5em;
}

.logo {
  text-decoration: none;
  font-size: 3em;
  color: #72EF36;
}

.centered-content {
  margin-top: 100px;
}