// Place all the styles related to the Challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.challenge-container {
  width: 80%;
  margin: auto;
  
}

.challenge-badge-container {
    margin:auto;
    text-align: center;
}

.challenge-icon {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  border: 4px solid #3c3241;
  background-color: #00485e;
  margin-right: 10px;
}

.challenge-badge {
  height: 275px;
  width: 275px;
  border-radius: 200px;
  border: 4px solid #3c3241;
  background-color: #00485e;
  margin-right: 10px;
  padding: 20px;
}

.challenge-heading {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
  
}
.join-challenge-button {
    background-color: #e75462;
    border: 2px solid#9e202c;
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 1.5rem;
    text-align: center;

}

.join-button-container {
    text-align: center;
    margin: 20px;
}
