// Place all the styles related to the completed_challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.completed-challenge-details {
  width: 40%;
  margin: 40px auto;
  background-color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 25px;
}

.completed-challenge-page-title {
  text-align: center;
  padding-top: 20px;
}

.completed-challenge-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.view-badges-container {
  text-align: center;
  margin: 40px 20px;
}

.view-badges-button {
  background-color: #e75462;
  padding: 10px 50px;
  border-radius: 40px;
  font-size: 1.5rem;
  text-align: center;
  color: #f1f1f1;
  font-weight: bold;
  margin-bottom: 30px;
}

.view-badges-button:hover {
  background-color: #f1f1f1;
  color: #e75462;
  transition: ease-in 0.3s;
  box-shadow: 0 5px 5px rgba(168, 69, 81, 0.2);
  cursor: pointer;
}