.sign-in-layout,
.sign-up-layout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border-radius: 20px;
  width: 400px;
  height: 560px;
  text-align: center;
}

.sign-in-input,
.sign-up-input {
  width: 200px;
  margin: 12px;
  border-radius: 25px;
  height: 22px;
  text-align: center;
}

.sign-in-header,
.sign-up-header {
  font-size: 1.8em;
  padding: 20px;
}

.sign-in-page-button,
.sign-up-page-button {
  margin-top: 30px;
  margin-left: 120px;
}

.profile-image-selector {
  margin-top: 16px;
  margin-left: 80px;
}
