.sign-in-layout,
.sign-up-layout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border-radius: 20px;
  width: 400px;
  height: 560px;
  text-align: center;
}

.auth-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 350px;
  height: 90%;
  margin: auto;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  margin-bottom: 16px;
}

.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-header {
  margin: 10px 10px;
  font-size: 1.8em;
  padding: 20px;
}

.sign-in-input,
.sign-up-input {
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 25px;
  font-size: 1rem;
  padding: 3px 0;
  text-align: center;
}

.profile-image-selector {
  text-align: center;
  padding-top: 10px;
  width: 80%;
  margin: auto;
}
.sign-in-sign-up-ruler {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(90, 90, 90, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 10px auto;
}

.option-text{
  margin-top: 25px;
}